/*
    ESTILO PARA EL SELECTOR
*/

#qualitySelector {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #00d9ff;
    border-radius: 5px;
    background-color: rgba(115, 133, 159, 0.5);
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
#qualitySelector:hover {
    border-color: #00d9ff;
    background-color: #96a3af;
    color: #000000;
}
  
#qualitySelector:focus {
    border-color: #00d9ff;
    outline: none;
    box-shadow: 0 0 5px rgba(115, 133, 159, 0.5);
}

/*
    ESTILO PARA EL VIDEOJS
*/

.video-js .vjs-big-play-button {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: none;
    transition: background 0.3s ease;
}

.video-js .vjs-big-play-button:hover {
    background: rgba(0, 0, 0, 0.5);
}

.video-js .vjs-control-bar {
    background: #FFFFFF;
    color: #00d9ff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

.video-js .vjs-play-progress {
    background: #1D87D8;
}

.video-js .vjs-load-progress {
    background: rgba(115, 133, 159, 0.5);
}

.video-js .vjs-volume-level {
    background: #1D87D8;
}

.video-js .vjs-slider {
    background: #DDDDDD;
}

.video-js,
video {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.video-js .vjs-no-js {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}

.fm-video.vjs-16-9 {
    padding-top: 56.25%;
}

.video-js .vjs-fullscreen-control {
    cursor: pointer;
    color: #00d9ff;
}